.GOL-dead-cell {
    -fx-fill: white;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.GOL-alive-cell {
    -fx-fill: black;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.SOF-empty-cell {
    -fx-fill: yellow;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.SOF-tree-cell {
    -fx-fill: green;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.SOF-burning-cell {
    -fx-fill: red;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.PERC-blocked-cell {
    -fx-fill: black;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.PERC-open-cell {
    -fx-fill: white;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.PERC-full-cell {
    -fx-fill: teal;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.MOS-empty-cell {
    -fx-fill: white;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.MOS-agent1-cell {
    -fx-fill: red;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.MOS-agent2-cell {
    -fx-fill: blue;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.RPS-rock-cell {
    -fx-fill: gray;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.RPS-paper-cell {
    -fx-fill: white;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.RPS-scissors-cell {
    -fx-fill: navy;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.WAT-empty-cell {
    -fx-fill: white;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.WAT-fish-cell {
    -fx-fill: green;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}

.WAT-shark-cell {
    -fx-fill: blue;
    -fx-stroke-type: outside;
    -fx-stroke: gray;
    -fx-stroke-width: 0.5;
}
